*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    width: 70%;
    max-width: 400px;
    background: linear-gradient(135deg, #25ccf7, #5352ed);
    color: #fff;
    margin:10px auto 0 ;
    border-radius: 15px;
    padding: 15px 10px;
    text-align: left;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    position: relative;
    cursor: pointer;
    padding: 12px 7px 12px 35px;
    list-style-type: none;
    font-size: 18px;
    transform: 0.3s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:hover{
    background: #636e72;
}
ul li.checked{
    color: #ff7675;
    text-decoration: line-through;

}
ul li.checked::before{
     content: '';
     position: absolute;
     border-color: #fff;
     border-style: solid;
     border-width: 0 2px 2px 0;
     top: 10px;
     left: 15px;
     transform: rotate(45deg);
     height: 15px;
     width: 8px;
}
.close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
.close:hover{
    background-color: 74bb9ff;
    color:white;
}
.header{
    padding: 30px 40px;
    color: #fff;
    text-align: center;
}
.header::after{
    content: '';
    display: table;
    clear: both;
}
input{
    margin: 0;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 80%;
    padding: 10px;
    float: left;
    font-size: 16px;

}
.btn{
    padding: 10px;
    width: 20%;
    background: #ddd;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.btn:hover{
    background-color: #74b9ff;
}